a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.modal.is-show {
    visibility: visible;
    opacity: 1;
}

.no-scroll {
    overflow: hidden;
}

.modal__content{
    background-color: #fff;
    padding:32px;
}

.form__text {
    text-align: center;
    margin-bottom: 32px;
}

label {
    margin-right: 16px;
}

#open-btn {
    margin-bottom: 32px;
}

#req-btn {
    display: block;
    margin: 32px auto 0;
    width: 64px;
}


